// fonts
.fp {font-family: 'Open Sans',sans-serif;} // font primary
.fh {font-family: 'Exo 2',sans-serif;} // font header
.fs {font-family: 'Indie Flower',sans-serif;} // font header
.fi {font-family: 'icons',sans-serif;} // font icon

// body
@bb: #fff; // body background

// colors
@c1: #000000;
@c2: #db212f;
@c3: #005399;

.text-primary {
	color: @c2;
}
.text-info {
	color: @c3;
}

// font sizes
@fsp: 16px; // font size primary

// line heights
@lhh: 1.2; // line height header
@lhp: 1.9; // line height primary

// form
@input-size: 14px;
@input-height: 36px;
@input-padding: 12px;
@input-border: transparent;
@input-bg: #f3f3f3;

// layout
@content-width: 1180px;
@content-width-md: 960px;
@content-width-sm: 740px;
@content-width-xs: 100%;
@content-padding: 20px;

// media query >>> @media @xs, @sm
@lg: ~"(min-width: 1200px)";
@md: ~"(min-width: 990px) and (max-width: 1199px)";
@sm: ~"(min-width: 770px) and (max-width: 989px)";
@xs: ~"(max-width: 769px)";
@xxs: ~"(max-width: 479px)";